h1,.h1 {
    font-size: 36px;
}

i {
    vertical-align: middle;
    color: #626262;
}

.todo {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fff;
    padding: 15px; 
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

    &-list {
        max-height: 450px;
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;

        @media (max-width: 991px) {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        li {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #E8E8E8;

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &__title {
        width: calc(100% - 160px);
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-create {
        padding-bottom: 30px;
        border-bottom: 1px solid #e8e8e8;
    }

    &-completed {
        display: inline-block;
        text-align: center;
        width:35px;
        height:35px;
        cursor: pointer;

        i {
            font-size: 20px;
        }
    }

    &-actions {
        float: right;

        i {
            font-size: 17px;
        }
    }

    &__link {
        display: inline-block;
        text-align: center;
        width: 35px;
        height: 35px;

        &:hover {
            background-color: #f4f4f4;
        }
    }

    &-edit {

        input {
            width: calc(100% - 80px);
            height: 35px;
        }
    }
}

.edit-actions {
    float: right;
    text-align: right;

    i {
        font-size: 17px;
    }
}

.no-todos {
    text-align: center;
}

.alert-danger {
    padding-left: 15px;
    font-size: 14px;
    color: red;
    padding-top: 5px;
}

.toggle-completed-checkbox:before {
    content: 'check_box_outline_blank';
}

.completed {

    .toggle-completed-checkbox::before {
        content: 'check_box';
    }

    .todo__title {
        text-decoration: line-through;
        color: #757575;
    }

    i {
        color: #757575;
    }
}

